<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321213051352-st94i6qfpt7hlt61f2skb8468hta6p7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321213051352-st94i6qfpt7hlt61f2skb8468hta6p7n</string>
	<key>API_KEY</key>
	<string>AIzaSyDgrv3Dyf_fDPfHVq2QVvh908O91pPJ_Fs</string>
	<key>GCM_SENDER_ID</key>
	<string>321213051352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elec6200.group52.autoSignMobile</string>
	<key>PROJECT_ID</key>
	<string>train-vis</string>
	<key>STORAGE_BUCKET</key>
	<string>train-vis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321213051352:ios:60296d55b40b70959a82ad</string>
</dict>
</plist>